@media screen {
  #imagen01 img{
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }
  .imagenes:nth-child(even){
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  #imagen03 img{
    filter: sepia(90%);
    -webkit-filter: sepia(90%);
  }
}
